//============
// Footer
//============
// @import '../../../styles/scss/abstracts/colors';
// @import '../../../styles/scss/abstracts/fonts';
// @import '../../../styles/scss/abstracts/typography';
@import '../abstracts/colors';
@import '../abstracts/fonts';
@import '../abstracts/typography';


.footer {
	hr {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-top {
		padding-top: 80px;
		padding-bottom: 64px;
		h1 {
			font-size: $font-size-56;
			line-height: $leading--30;
			font-family: $font-family_1;
			color: $deep-ocean-blue;
			letter-spacing: 2.24px;
		}
		p {
			font-size: $font-size-20;
			line-height: $leading--5;
			font-family: $font-family_2;
			color: $deep-ocean-blue;
			margin-bottom: 18px;
		}
		form {
			width: 85%;
			background: rgba(13, 61, 86, 0.06);
			padding: 8px 10px;
			position: relative;
			border-radius: 50px;
			box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
			text-align: left;
			display: flex;
			justify-content: space-between;
			align-items: center;
			input[type=email] {
				border: 0;
				font-size: $font-size-16;
				padding: 6px 8px;
				background: transparent;
				outline: none;
				width: calc(85% - 100px);
				font-family: $font-family_2;
			}
			input[type=submit] {
				position: absolute;
				margin: 6px;
				top: 0;
				right: 0;
				bottom: 0;
				border: 1px solid #8AD43D;
				font-size: $font-size-16;
				font-family: $font-family_3;
				padding: 0 40px 0 20px;
				background: #8AD43D;
				color: $deep-ocean-blue;
				transition: 0.4s;
				border-radius: 50px;
				box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
				&:hover {
					color: $deep-ocean-blue;
					background: #fff;
					border: 1px solid #0c3c53;
					font-size: $font-size-16;
				}
			}
			img {
				z-index: 99;
				right: 10px;
				float: inline-end;
				position: relative;
				width: 16px;
			}
		}
		h4 {
			font-size: $font-size-20;
			font-family: $font-family_1;
			color: $deep-ocean-blue;
			margin-bottom: 12px;
		}
		ul {
			padding-left: 0;
			padding-top: 12px;
			li {
				list-style: none;
				font-family: $font-family_2;
				font-size: $font-size-18;
				color: $ocean-deepest;
				margin-bottom: 12px;
			}
		}
	}
	.copyrigh {
		padding: 32px 0;
	}
	.copyright {
		ul {
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;
			li {
				list-style: none;
				font-family: $font-family_2;
				font-size: $font-size-18;
				color: $ocean-night;
				margin-right: 44px;
				line-height: $leading--12;
			}
		}
		.copyright_career {
			font-family: $font-family_2;
			font-size: $font-size-16;
			color: $ocean-night;
		}
	}
}
.form_email {
	padding-top: 30px;
}
// @import '../../scss/breakpoints/footer/footer-bp';
@import '../breakpoints/footer-bp/footer-bp';
