@import '../../abstracts/colors';
@import'../../abstracts/typography';

@media (min-width: 991.5px) and (max-width: 1399px) {
  #header {
    .logo {
      img {
        max-height: 30px;
    }
    }
  }
}
.navbar {
  @media (min-width: 991.5px) and (max-width: 1399px) {
    li a,
    li a:focus {
      font-size: $font-size-12;
    }
  }
  
  // Styles for .navbar-left under specific viewport conditions
  .navbar-left {
    // Larger screen adjustments
    @media (max-width: 1399px) {

      li:nth-last-child(3) {
        margin-right: 85px;
      }
    }

    // Medium screen adjustments
    @media (max-width: 1199px) {
      li:nth-last-child(3) {
        margin-right: 5px;
      }
    }

    // Small screen adjustments
    @media (max-width: 991px) {
        li {
          a, a:focus {
            justify-content: center;
          }
        }
      
      
      li:first-child {
        margin-left: 30px;
      }
    }
  }
}
@media (max-width:991px){
  #header{
    .logo {
      img {
        max-height: 28px;
    }
    }
    .header-container {
      padding: 0 32px;
  }
  }
}
  // Adjustments for navbar-mobile dropdowns on very small screens
  @media (max-width: 430px) {
  .navbar-mobile {
    .dropdown ul {
      margin: 0 !important;
    }
  }
  .header-container {
    padding: 0 16px !important;
}
}