@import '../../abstracts/colors';
@import '../../abstracts/fonts';
@import '../../abstracts/typography';

.banner_blog {
	padding-bottom: 50px;
	.banner_row {
		padding-top: 110px;
	}
	.banner_bg_img {
		img {
			max-width: 800px;
			width: 100%;
			border-radius: 12px;
		}
	}
	.banner_card {
		position: relative;
		z-index: 99;
		padding: 48px 60px 60px 60px;
		border-radius: 12px;
		background: $deep-ocean-blue;
		.slick-prev {
			left: 0px;
			top: 13px;
			&:before {
				background-image: url(../img/blog/CaretLeft.png);
				background-size: 100% 100%;
				height: 20px;
				width: 20px;
				display: block;
				content: '';
				position: relative;
				z-index: 99;
				opacity: 1;
			}
		}
		.slick-next {
			left: 21px;
			top: 13px;
			&:before {
				background-image: url(../img/blog/caretright.png);
				background-size: 100% 100%;
				height: 20px;
				width: 20px;
				display: block;
				opacity: 1;
				content: '';
			}
		}
		.card_block {
			.block_heading {
				h2 {
					padding-top: 30px;
					font-size: $font-size-35;
					font-family: $font-family_1;
					padding-bottom: 28px;
					margin-bottom: 0;
				}
			}
			hr {
				border: rgba(138, 212, 61, 0.24) 1px solid;
				width: 100%;
				margin-top: 28px;
				margin-bottom: 24px;
			}
			.block_button {
				color: $deep-ocean-blue;
				font-size: $font-size-16;
				font-family: $font-family_1;
				line-height: $leading--n;
				border-radius: 100px;
				background: $vibrant-lime-green;
				display: flex;
				max-width: 240px;
				height: 52px;
				padding: 16px 16px;
				justify-content: center;
				align-items: center;
				gap: 8px;
				transition: 0.4s;
				flex-shrink: 0;
				&:hover {
					background: $pure-white;
				}
			}
		}
	}
}
.banner_bg_img {
	position: absolute;
	top: 0;
	left: 0;
}


.main_blog_page {
	.tags {
		padding-top: 50px;
		padding-bottom: 60px;
		.post_card {
			border-radius: 32px;
			padding: 20px;
			background:$deep-ocean-translucent ;
			.card {
				border-radius: 26px;
				.card-body {
					padding: 40px;
				}
				h3 {
					color: $deep-ocean-blue;
					font-family: $font-family_1;
					font-size: $font-size-32;
					line-height: $leading--13;
					letter-spacing: -0.96px;
					text-transform: capitalize;
					margin-bottom: 20px;
				}
				h4 {
					color: $deep-ocean-blue;
					font-family: $font-family_1;
					font-size: $font-size-28;
					line-height: $leading--29;
					letter-spacing: -0.84px;
					text-transform: capitalize;
				}
				ul {
					li {
						a {
							display: inline-flex;
							align-items: center;
						}
						padding: 16px 0;
						color: $deep-ocean-blue;
						font-family: $font-family_1;
						font-size: $font-size-20;
						font-style: normal;
						font-weight: $weight--500;
						line-height: $leading--5;
						letter-spacing: -0.4px;
						transition: 0.5s;
						&:last-child {
							padding-bottom: 0;
						}
					}
				}
				.printerest {
					display: flex;
					width: 64px;
					height: 64px;
					padding: 14px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					border-radius: 16px;
					background: $crimson-fade;
					margin-right: 5px;
					transition: 0.5s;
					img {
						width: 36px;
					}
					&:hover {
						transform: translateY(-5px);
					}
				}
				.instagram {
					display: flex;
					width: 64px;
					height: 64px;
					padding: 14px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					border-radius: 16px;
					background:$sunset-fade ;
					margin-right: 5px;
					transition: 0.5s;
					img {
						width: 36px;
					}
					&:hover {
						transform: translateY(-5px);
					}
				}
				.facebook {
					display: flex;
					width: 64px;
					height: 64px;
					padding: 14px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					border-radius: 16px;
					background: $sky-blue-faint;
					margin-right: 5px;
					transition: 0.5s;
					img {
						width: 36px;
					}
					&:hover {
						transform: translateY(-5px);
					}
				}
				.twitterfight {
					display: flex;
					width: 64px;
					height: 64px;
					padding: 14px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					border-radius: 16px;
					background: $dusk-black;
					margin-right: 5px;
					transition: 0.5s;
					img {
						width: 36px;
					}
					&:hover {
						transform: translateY(-5px);
					}
				}
				.link {
					display: flex;
					width: 64px;
					height: 64px;
					padding: 14px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					border-radius: 16px;
					background: $dusk-black;
					margin-right: 5px;
					transition: 0.5s;
					img {
						width: 36px;
					}
					&:hover {
						transform: translateY(-5px);
					}
				}
				.hash_img {
					border-radius: 100px;
					background:$midnight-whisper ;
					padding: 9px;
					margin-right: 10px;
				}
			}
		}
		.articale_img {
			padding-bottom: 16px;
			img {
				width: 100%;
				border-radius: 20px;
			}
		}
		.articale_detail {
			padding-top: 16px;
			padding-bottom: 24px;
			p {
				color: $deep-ocean-blue;
				font-size: 16px;
				font-family: $font-family_1;
				line-height: $leading--8;
			}
			h2 {
				color: $deep-ocean-blue;
				font-family: $font-family_1;
				font-size: $font-size-40;
				line-height: $leading--9;
				letter-spacing: -1.2px;
				text-transform: capitalize;
			}
		}
	}
	.latest_article {
		padding-bottom: 70px;
		.articale_img {
			padding-bottom: 16px;
			img {
				width: 100%;
				border-radius: 20px;
			}
		}
		.articale_detail {
			padding-top: 16px;
			padding-bottom: 24px;
			p {
				color: $deep-ocean-blue;
				font-size: $font-size-16;
				font-family: $font-family_1;
				line-height: $leading--8;
				a {
					text-decoration: underline !important;
				}
			}
			h2 {
				color: $deep-ocean-blue;
				font-family: $font-family_1;
				font-size: $font-size-38;
				line-height: $leading--9;
				letter-spacing: -1.2px;
				text-transform: capitalize;
			}
			h4 {
				color: $deep-ocean-blue;
				font-family: $font-family_1;
				font-size: $font-size-24;
				line-height: $leading--4;
				letter-spacing: -0.24px;
				text-transform: capitalize;
			}
		}
		.articale_profile {
			h6 {
				color: $deep-ocean-blue;
				font-family: $font-family_1;
				font-size: $font-size-20;
				line-height: $leading--12;
				text-transform: capitalize;
				margin-bottom: 0;
			}
			p {
				color: $midnight-blue;
				font-family: $font-family_1;
				font-size: $font-size-16;
				line-height: $leading--8;
				text-transform: capitalize;
				margin-bottom: 0;
			}
		}
	}
	.all_blog {
		padding-top: 70px;
		padding-bottom: 70px;
		.all_blog_container {
			h1 {
				color: $deep-ocean-blue;
				font-family: $font-family_1;
				font-size: $font-size-64;
				line-height: $leading--2;
				letter-spacing: -1.92px;
				text-transform: capitalize;
			}
			.img_block {
				img {
					width: 100%;
					border-radius: 10px;
					margin-bottom: 15px;
				}
			}
			.card {
				border-radius: 10px;
				transition: all ease-in-out 0.4s;
				z-index: 99;
				&:hover {
					transform: translateY(-10px);
				}
				h5 {
					font-size: $font-size-24;
					font-family: $font-family_1;
					color: $deep-ocean-blue;
					line-height: $leading--4;
					margin-bottom: 16px;
				}
				p {
					font-size: $font-size-17;
					line-height: $leading--17;
					font-family: $font-family_2;
					color: $deep-ocean-blue;
				}
				.dual_button {
					border: 1px solid rgba(13, 61, 86, 0.2);
					padding: 16px 32px 16px 32px;
					font-size: $font-size-16;
					border-radius: 100px;
					font-family: $font-family_5;
					transition: 0.4s;
					display: inline-flex;
					align-items: center;
					cursor: pointer;
					&:hover {
						background: $vibrant-lime-green;
						color: $deep-ocean-blue;
					}
				}
				.card-body {
					padding-bottom: 36px;
				}
			}
		}
	}
}

@import '../../breakpoints/blog-bp/blog-bp';