//============
// Fonts family
//============
$font-family_1: Inter-SemiBold,sans-serif;
$font-family_2: Inter-Medium,sans-serif;
$font-family_3: Inter-Bold,sans-serif;
$font-family_4: Inter-SemiBold,sans-serif;
$font-family_5: Inter-Bold , sans-serif;
$font-family_6: Inter-Regular,sans-serif;
$font-family_7: Montserrat;



// Weights
$weight--300: 300;
$weight--400: 400;
$weight--500: 500;
$weight--600: 600;
$weight--700: 700;
$weight--800: 800;
$weight--900: 900;
$weight--bold: bold;

// line-height
$leading--n:normal;
$leading--0: 0;
$leading--1: 1;
$leading--2: 68px;
$leading--3: 44px;
$leading--4: 32px;
$leading--5: 26px;
$leading--6: 30px;
$leading--7: 60px;
$leading--8: 24px;
$leading--9: 48px;
$leading--10:20px;
$leading--11:54px;
$leading--12:28px;
$leading--13:40px;
$leading--14:22px;
$leading--15:46px;
$leading--16:19px;
$leading--17:27px;
$leading--18:18px;
$leading--19:15px;
$leading--20:38px;
$leading--21:16px;
$leading--22:17px;
$leading--23:21px;
$leading--24:36px;
$leading--25:66px;
$leading--26:52px;
$leading--27:42px;
$leading--28:31px;
$leading--29:34px;
$leading--30:62px;
$leading--31:37px;
$leading--32:25px;
$leading--33:56px;
$leading--34:14px;
$leading--35:22px;
$leading--36:34px;
$leading--54:54px;
