@import '../../abstracts/fonts';
@import '../../abstracts/typography';

@media (max-width: 991px) {
	.companies_banner {
		.companies_banner_container {
			.box_green {
				left: 0 !important;
				bottom: 30% !important;
			}
			.banner_heading_company {
				form {
					img {
						margin-top: 0px;
					}
					width: 92% !important;
					input[type=email] {
						font-size: $font-size-14 !important;
					}
					input[type=submit] {
						font-size: $font-size-14 !important;
					}
				}
				h1 {
					font-size: $font-size-44 !important;
					line-height: $leading--9 !important;
					margin-bottom: 10px !important;
				}
				p {
					font-size: $font-size-14 !important;
					line-height: $leading--10 !important;
					margin-bottom: 10px !important;
				}
			}
			img {
				max-width: 15%;
				margin-top: 5%;
			}
		}
	}
	.main_application_page {
		.job_details_container {
			.accordion_div {
				.accordion {
					padding: 12px 16px;
					font-size: $font-size-18;
				}
			}
			.job_details_form_card {
				.card-body {
					padding: 20px;
					.gap_fieds {
						.heading_para_detail {
							max-width: 90%;
						}
					}
				}
			}
			.project_manager_card {
				max-width: 100%;
			}
		}
	}
}
@media (max-width: 767px) {
	.companies_banner {
		.companies_banner_container {
			.banner_heading_company {
				padding: 40px !important;
				h1 {
					font-size: $font-size-24 !important;
					line-height: $leading--6 !important;
					margin-bottom: 5px !important;
					letter-spacing: -0.56px !important;
				}
				p {
					font-size: $font-size-12 !important;
				}
				form {
					width: 100% !important;
					padding: 5px 10px !important;
					margin-top: 10px !important;
					img {
						right: 15px !important;
						font-size: $font-size-10 !important;
						width: 12px !important;
					}
					input[type=submit] {
						padding: 0 25px 0 15px !important;
						font-size: $font-size-10 !important;
					}
					input[type=email] {
						font-size: $font-size-10 !important;
						width: calc(110% - 100px) !important;
					}
				}
			}
		}
	}
}
@media (max-width: 500px) {
	.main_application_page {
		.job_details_container {
			.first_div_job_detail {
				h2 {
					font-size: $font-size-32;
					line-height:$leading--29;
					margin-bottom: 5px;
				}
				p {
					font-size: $font-size-14;
					line-height: $leading--18;
					margin-bottom: 10px;
				}
			}
			.accordion_div {
				.accordion {
					padding: 5px 16px;
					font-size: $font-size-13;
				}
				.panel {
					a {
						font-size: $font-size-12;
						line-height: $leading--18;
					}
					.panel_inner {
						li {
							line-height: $leading--34;
							margin-bottom: 5px;
						}
					}
				}
			}
			.job_details_form_card {
				.card-body {
					.card-title {
						font-size: $font-size-24;
						line-height: $leading--4;
						margin-bottom: 16px;
					}
					.gap_fieds {
						.label_fields {
							margin-bottom: 5px;
							font-size: $font-size-15;
							line-height: $leading--5;
							font-family: $font-family_6;
						}
						.input_form {
							padding: 8px 10px 8px 10px;
							font-size: $font-size-12;
							line-height: $leading--8;
						}
						.select-selected {
							padding: 8px 10px;
							font-size: $font-size-12;
							&:after {
								top: 19px;
							}
						}
						.select-selected.select-arrow-active {
							&:after {
								top: 12px;
							}
						}
						.select-items {
							div {
								font-size: $font-size-12;
							}
						}
						.other-documents-para {
							p {
								font-size: $font-size-12;
								line-height: $leading--18;
							}
						}
						.accept_para {
							font-size: $font-size-12;
							line-height: $leading--18;
						}
						h6 {
							font-size: $font-size-16;
							line-height: $leading--35;
							font-size: $font-size-14;
							line-height: $leading--18;
						}
					}
					.gap_btn {
						.submit_btn {
							font-size: $font-size-12;
							padding-top: 10px;
							padding-bottom: 10px;
						}
					}
				}
			}
			#drop-zone {
				padding: 24px;
			}
			#drop-zone-dup {
				padding: 24px;
			}
			.project_manager_card {
				h3 {
					font-size: $font-size-24;
				}
			}
		}
	}
}
