@import '../../abstracts/typography';
@import '../../abstracts/fonts';

@media (min-width: 767.5px) and (max-width: 991.5px) {
	.banner_blog_detail {
		.blog_detail_bg_img {
			h1 {
				font-size: $font-size-46 !important;
				line-height: $leading--26 !important;
			}
		}
	}
	.main_blog_detail_page {clea
		.blog_all_detail {
			.first_blog_detail {
				h2 {
					font-size: $font-size-36 !important;
					line-height: $leading--27 !important;
					margin-bottom: 20px !important;
				}
				h3 {
					font-size: $font-size-25 !important;
					line-height: $leading--28 !important;
					margin-bottom: 15px !important;
				}
				p {
					font-size: $font-size-16 !important;
					line-height: $leading--8 !important;
					margin-bottom: 25px !important;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.banner_blog_detail {
		.blog_detail_bg_img {
			margin-bottom: 50px !important;
		}
	}
	.main_blog_detail_page {
		.blog_all_detail {
			.first_blog_detail {
				padding-left: 0 !important;
				padding-bottom: 25px !important;
			}
			padding-top: 40px !important;
			padding-bottom: 40px !important;
		}
		.read_more_article {
			.article_heading {
				font-size: $font-size-42 !important;
				line-height: $leading--9 !important;
				margin-bottom: 20px !important;
			}
			.articale_detail {
				h2 {
					font-size: $font-size-29 !important;
					line-height: $leading--31 !important;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.banner_blog_detail {
		.blog_detail_bg_img {
			.business_para {
				line-height: $leading--8;
			}
			h1 {
				font-size: $font-size-32 !important;
				line-height: $leading--20 !important;
				letter-spacing: -0.72px !important;
			}
			h5 {
				font-size: $font-size-14 !important;
				line-height: $leading--10 !important;
			}
			.border-start {
				border-left: none !important;
			}
		}
	}
	.main_blog_detail_page {
		.blog_all_detail {
			.refine_search_card {
				.card-header {
					padding: 5px 4px 5px 20px !important;
					h3 {
						font-size: $font-size-16 !important;
						line-height: $leading--14 !important;
						letter-spacing: -0.48px !important;
					}
				}
				.card-body {
					ul {
						li {
							a {
								font-size: $font-size-14 !important;
								line-height: $leading--14 !important;
							}
							font-size: $font-size-14 !important;
							line-height: $leading--8 !important;
							padding: 12px 0 !important;
						}
					}
				}
			}
			.first_blog_detail {
				h2 {
					font-size: $font-size-20 !important;
					line-height: $leading--12!important;
					margin-bottom: 15px !important;
				}
				p {
					font-size: $font-size-14 !important;
					line-height: $leading--14!important;
					margin-bottom: 15px !important;
				}
				h3 {
					font-size: $font-size-16 !important;
					line-height: $leading--8 !important;
					margin-bottom: 10px !important;
				}
				.detail_img {
					.card {
						.card-body {
							h5 {
								font-size: $font-size-14 !important;
								line-height: $leading--8 !important;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.main_blog_detail_page {
		.read_more_article {
			.article_heading {
				margin-bottom: 15px !important;
				font-size: $font-size-28 !important;
			}
			.articale_detail {
				h2 {
					font-size: $font-size-18 !important;
					line-height: $leading--32 !important;
				}
				h4 {
					font-size: $font-size-18 !important;
					line-height: $leading--32 !important;
				}
				padding-top: 0;
				padding-bottom: 0;
				p {
					margin-bottom: 5px;
					font-size: $font-size-12;
					line-height: $leading--10;
				}
			}
			.articale_profile {
				h6 {
					font-size: $font-size-15 !important;
					line-height: $leading--10 !important;
				}
				p {
					font-size: $font-size-12 !important;
					line-height: $leading--19 !important;
				}
			}
		}
	}
}
