@import '../../abstracts/typography';
@import '../../abstracts/fonts';
@media (max-width: 1220px) {
	.dual_course {
		.apply_now_container {
			.card_shape_4 {
				img {
					max-width: 95px;
					max-width: 95px;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.dual_course {
		.apply_now_container {
			padding: 50px 40px;
			.card_shape_1 {
				padding: 25px;
				h5 {
					font-size:$font-size-28;
					line-height: $leading--29;
					letter-spacing: -1.12px;
				}
				p {
					font-size: $font-size-15;
					line-height:$leading--35;
					letter-spacing: -0.45px;
					margin-bottom: 0;
				}
				.dual_button {
					font-size: 14px !important;
				}
			}
			.card_shape_2 {
				padding: 25px;
				h5 {
					font-size: $font-size-28;
					line-height: $leading--29;
					letter-spacing: -1.12px;
				}
				p {
					font-size: $font-size-15;
					line-height: $leading--35;
					letter-spacing: -0.45px;
					margin-bottom: 0;
				}
				.dual_button {
					font-size: $font-size-14 !important;
				}
			}
			.card_shape_3 {
				padding: 25px;
				h5 {
					font-size: $font-size-28;
					line-height:$leading--36;
					letter-spacing: -1.12px;
				}
				p {
					font-size: $font-size-15;
					line-height: $leading--35;
					letter-spacing: -0.45px;
					margin-bottom: 0;
				}
				.dual_button {
					font-size: $font-size-14 !important;
				}
			}
			.card_shape_4 {
				padding: 25px;
				h5 {
					font-size: $font-size-28;
					line-height:$leading--36;
					letter-spacing: -1.12px;
				}
				p {
					font-size: $font-size-15;
					line-height: $leading--35;
					letter-spacing: -0.45px;
					margin-bottom: 0;
				}
				.dual_button {
					font-size: $font-size-12 !important;
				}
				img {
					max-width: 50px;
				}
			}
			hr {
				margin: 20px 0;
			}
		}
		.dual_course_container {
			.block_apply_now {
				.dual_button {
					font-size: $font-size-14 !important;
					&:focus {
						font-size: $font-size-14!important;
					}
				}
			}
		}
	}
}

@media (min-width: 767.5px) and (max-width: 991.5px) {
	.dual_course {
		.dual_course_container {
			.column_three {
				&:hover {
					border-radius: 15px;
				}
				border: 1px solid rgba(13, 61, 86, 0.2);
				border-left: 1px solid rgba(13, 61, 86, 0.2);
				margin-top: 10px;
				border-radius: 15px;
			}
			.block_apply_now {
				padding: 24px;
				h5 {
					font-size: $font-size-22;
				}
				p {
					font-size: $font-size-14;
				}
			}
			padding: 50px 40px;
			h1 {
				font-size: $font-size-48;
				line-height:$leading--7;
				letter-spacing: -1.44px;
			}
			.column_one {
				border: 1px solid rgba(13, 61, 86, 0.2);
				border-right: none;
			}
			.column_two {
				border: 1px solid rgba(13, 61, 86, 0.2);
				border-right: 1px solid rgba(13, 61, 86, 0.2);
				border-left: none;
				border-radius: 0 15px 15px 0;
			}
		}
		.apply_now_container {
			h1 {
				font-size: $font-size-48;
				line-height: $leading--7;
				letter-spacing: -1.44px;
			}
			.card_shape_4 {
				hr {
					border: 1px solid rgba(138, 212, 61, 0.72) !important;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.dual_course {
		.apply_now_container {
			.inner_shape_2 {
				width: 100% !important;
				margin-left: 0;
				width: 100%;
			}
			.card_shape_4 {
				hr {
					margin-bottom: 10px !important;
					border: 1px solid rgba(138, 212, 61, 0.72) !important;
				}
				h5 {
					font-size: $font-size-20 !important;
					line-height: $leading--5 !important;
					letter-spacing: -0.8px !important;
					padding-right: 35px !important;
				}
				p {
					font-size: $font-size-12!important;
					line-height: $leading--18 !important;
					letter-spacing: -0.36px !important;
				}
			}
			.card_shape_2 {
				background-image: url(../img/apply/shape_3.png) !important;
				margin-left: 0 !important;
				background-image: url(../img/apply/mob_shape_2.png) !important;
				h5 {
					font-size: $font-size-20 !important;
					line-height: 26px !important;
					letter-spacing: -0.8px !important;
					padding-right: 35px !important;
				}
				p {
					font-size: $font-size-12 !important;
					line-height:$leading--18!important;
					letter-spacing: -0.36px !important;
				}
			}
			.card_shape_1 {
				background-image: url(../img/apply/mob_shape_1.png) !important;
				h5 {
					font-size: 20px !important;
					line-height: $leading--5 !important;
					letter-spacing: -0.8px !important;
					padding-right: 35px !important;
				}
				p {
					font-size: $font-size-12 !important;
					line-height: $leading--18!important;
					letter-spacing: -0.36px !important;
				}
			}
			.card_shape_3 {
				background-image: url(../img/apply/mob_shape_2.png) !important;
				h5 {
					font-size: $font-size-20 !important;
					line-height: $leading--5 !important;
					letter-spacing: -0.8px !important;
					padding-right: 35px !important;
				}
				p {
					font-size: $font-size-12 !important;
					line-height: $leading--18!important;
					letter-spacing: -0.36px !important;
				}
			}
			padding: 40px 20px !important;
			h1 {
				font-size: $font-size-28;
				line-height: $leading--29;
				letter-spacing: -0.84px;
			}
		}
		.dual_course_container {
			.column_one {
				&:hover {
					border-radius: 15px !important;
				}
				border: 1px solid rgba(13, 61, 86, 0.2);
				border-radius: 15px;
			}
			.column_three {
				&:hover {
					border-radius: 15px !important;
				}
				border: 1px solid rgba(13, 61, 86, 0.2);
				margin-top: 10px;
				border-radius: 15px;
			}
			.block_apply_now {
				padding: 20px;
				h5 {
					font-size: $font-size-20;
				}
				p {
					font-size: $font-size-13;
				}
				.dual_button {
					font-size: $font-size-14;
					&:focus {
						font-size: $font-size-14;
					}
				}
			}
			padding: 40px 20px;
			h1 {
				font-size: $font-size-28;
				line-height:$leading--29;
				letter-spacing: -0.84px;
			}
			.column_two {
				border: 1px solid rgba(13, 61, 86, 0.2);
				border-radius: 15px;
				margin-top: 10px;
			}
		}
	}
	.our_partner {
		.our_partner_container {
			padding-top: 40px;
			padding-bottom: 20px;
		}
	}
}
