@import '../../abstracts/typography';
@import '../../abstracts/fonts';
@import '../../abstracts/colors';
.application_banner {
	.application_banner_container {
		.banner_heading_company {
			padding: 90px 0 155px;
		}
	}
}
.companies_banner {
	margin-bottom: 50px;
	background: $deep-ocean-blue;
	.companies_banner_container {
		max-width: 1440px;
		background: $deep-ocean-blue;
		.box_green {
			position: absolute;
			bottom: 0;
			left: o;
			img {
				width: 80%;
			}
		}
		.box_transperent {
			img {
				width: 80%;
			}
			position: absolute;
			bottom: 0;
			right: 0;
		}
		.banner_heading_company {
            padding: 90px 0 155px;
			h1 {
				color: $pure-white;
				text-align: center;
				font-family: $font-family_6;
				font-size: $font-size-54;
				line-height: $leading--7;
				letter-spacing: -2.56px;
				margin-bottom: 15px;
			}
			p {
				color: $pure-white;
				font-family: $font-family_6;
				font-size:$font-size-16;
				line-height: $leading--8;
				letter-spacing: -0.6px;
				text-transform: capitalize;
			}
			form {
				width: 70%;
				background: $deep-ocean-subtle;
				padding: 14px 10px;
				position: relative;
				border-radius: 100px;
				border: 1px solid $soft-white;
				text-align: left;
				margin-top: 30px;
				margin-left: auto;
				margin-right: auto;
				display: flex;
				align-items: center;
				input[type=email] {
					border: 0;
					font-size: $font-size-16;
					padding: 6px 8px;
					font-style: italic;
					color: $white-glow;
					background: transparent;
					outline: none;
					width: calc(98% - 100px);
					font-family: $font-family_2;
				}
				input[type=submit] {
					position: absolute;
					margin: 6px;
					top: 0;
					right: 0;
					bottom: 0;
					border: 0;
					font-size: $font-size-16;
					font-family: $font-family_5;
					padding: 0 40px 0 20px;
					border-radius: 100px;
					background: $vibrant-lime-green;
					color: $pure-white;
					transition: 0.4s;
					border: $vibrant-lime-green 1px solid;
					box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
					&:hover {
						background: transparent;
						border: $vibrant-lime-green 1px solid;
					}
				}
				img {
					color: $pure-white;
					right: 23px;
					position: absolute;
				}
			}
		}
	}
}
.main_application_page {
	.job_details_container {
		.project_manager_card {
			.perfect_roles {
				.printest_img {
					&:hover {
						transform: translateY(-5px);
					}
					display: flex;
					width: 52px;
					height: 52px;
					padding: 11.375px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					border-radius: 12px;
					transition: 0.4s;
					background: $crimson-fade;
				}
				.instagram {
					&:hover {
						transform: translateY(-5px);
					}
					display: flex;
					width: 52px;
					height: 52px;
					padding: 11.375px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					border-radius: 12px;
					transition: 0.4s;
					background: $sunset-fade;
				}
				.facebook {
					&:hover {
						transform: translateY(-5px);
					}
					display: flex;
					width: 52px;
					height: 52px;
					padding: 11.375px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					border-radius: 12px;
					background: $sky-blue-faint;
					transition: 0.4s;
				}
				.other {
					&:hover {
						transform: translateY(-5px);
					}
					display: flex;
					width: 52px;
					height: 52px;
					padding: 11.375px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					border-radius: 12px;
					background: $lemon-twilight;
					transition: 0.4s;
				}
				.twitterfight {
					transform: translateY(-5px);
					display: flex;
					width: 52px;
					height: 52px;
					padding: 11.375px;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					display: flex;
					border-radius: 12px;
					background: $dusk-black;
					transition: 0.4s;
				}
				h5 {
					color: $deep-ocean-blue;
					font-family: $font-family_2;
					font-size: $font-size-20;
					line-height: $leading--8;
					letter-spacing: -0.4px;
					margin-bottom: 10px;
				}
				p {
					color: $deep-ocean-blue;
					font-size: $font-size-16;
					font-family: $font-family_6;
					line-height: $leading--14;
					letter-spacing: -0.32px;
					a {
						color: $vibrant-lime-green;
						text-decoration-line: underline;
					}
				}
			}
			border-radius: 12px;
			background: $ice-white;
			padding: 24px;
			border: $ice-white 1px solid;
			max-width: 422px;
			width: 100%;
			h3 {
				color: $deep-ocean-blue;
				font-family: $font-family_2;
				font-size: $font-size-28;
				line-height: $leading--29;
				letter-spacing: -0.84px;
				text-transform: capitalize;
			}
			.list_icons_project {
				border-bottom: 1px solid $deep-ocean-lighter;
				margin-bottom: 24px;
				h6 {
					color: $deep-ocean-blue;
					font-family: $font-family_4;
					font-size: $font-size-16;
					line-height: $leading--10;
					letter-spacing: -0.32px;
					margin-bottom: 0;
				}
				p {
					color: $deep-ocean-blue;
					font-family: $font-family_6;
					font-size: $font-size-16;
					line-height: $leading--14;
					letter-spacing: -0.32px;
				}
			}
			.contact_us {
				border-bottom: 1px solid $deep-ocean-lighter;
				margin-bottom: 24px;
				h5 {
					color: $deep-ocean-blue;
					font-family: $font-family_2;
					font-size:$font-size-20;
					line-height: $leading--8;
					letter-spacing: -0.4px;
					margin-bottom: 10px;
				}
				p {
					color: $vibrant-lime-green;
					font-size: $font-size-20;
					font-family: $font-family_2;
					line-height: $leading--8;
					letter-spacing: -0.4px;
				}
			}
		}
		.first_div_job_detail {
			max-width: 762px;
			width: 100%;
			margin-bottom: 48px;
			h2 {
				color: $deep-ocean-blue;
				font-family: $font-family_2;
				font-size: $font-size-48;
				line-height: $leading--29;
				letter-spacing: -1.44px;
				text-transform: capitalize;
				margin-bottom: 36px;
			}
			p {
				color: $deep-ocean-blue;
				font-family: $font-family_6;
				font-size: $font-size-16;
				line-height: $leading--5;
				letter-spacing: -0.32px;
				margin-bottom: 24px;
			}
		}
		.job_details_form_card {
			border-radius: 20px;
			background: $ice-white;
			border: 1px solid $ice-white;
			max-width: 810px;
			.card-body {
				padding: 48px;
				.form-check-input {
					&:checked {
						background-color: $vibrant-lime-green;
						border: 1px solid $vibrant-lime-green;
						box-shadow: none;
					}
				}
				.checkbox_field {
					.form-check-input {
						&:focus {
							box-shadow: none;
							border: 1px solid $vibrant-lime-green;
						}
						width: 22px;
						height: 22px;
						&:checked {
							background-color: $deep-ocean-blue;
						}
					}
				}
				.card-title {
					color: $deep-ocean-blue;
					font-family: $font-family_2;
					font-size: $font-size-38;
					line-height: $leading--3;
					letter-spacing: -1.14px;
					text-transform: capitalize;
					margin-bottom: 24px;
					max-width: 620px;
					width: 100%;
				}
				.gap_fieds {
					margin-bottom: 24px;
					.label_fields {
						margin-bottom: 12px;
						color: $deep-ocean-blue;
						font-family: $font-family_2;
						font-size: $font-size-18;
						line-height: $leading--5;
						letter-spacing: -0.54px;
						text-transform: capitalize;
					}
					.input_form {
						border-radius: 8px;
						border: 1px solid $deep-ocean-semi-translucent;
						background: #FFF;
						display: flex;
						padding: 16px 16px 16px 16px;
						align-items: center;
						align-self: stretch;
						color: $ocean-deep;
						font-family: $font-family_2;
						font-size: $font-size-16;
						line-height: $leading--8;
						letter-spacing: -0.48px;
						&:focus {
							border: 1px solid $vibrant-lime-green;
							outline: none;
							box-shadow: none;
						}
					}
					.other-documents-para {
						p {
							color: $deep-ocean-blue;
							font-family: $font-family_6;
							font-size: $font-size-16;
							line-height: $leading--14;
							letter-spacing: -0.32px;
							max-width: 397px;
							width: 100%;
						}
					}
					h6 {
						color: $deep-ocean-blue;
						font-family: $font-family_2;
						font-size: $font-size-18;
						line-height: $leading--5;
						letter-spacing: -0.54px;
						max-width: 604px;
						width: 100%;
						margin-bottom: 0px;
						a {
							color: $vibrant-lime-green;
							text-decoration-line: underline;
						}
					}
					.heading_para_detail {
						max-width: 96%;
					}
					.accept_para {
						color: $deep-ocean-blue;
						font-family: $font-family_6;
						font-size:$font-size-14;
						line-height: $leading--16;
						letter-spacing: -0.28px;
					}
					.custom-select {
						position: relative;
						width: 100%;
						select {
							display: none;
							&:focus {
								border: $vibrant-lime-green 2px solid;
								box-shadow: none;
								font-family: $font-family_3;
								color: $deep-ocean-blue;
								background: #fff;
							}
						}
						.select-arrow-active {
							border: 1px solid $vibrant-lime-green;
						}
					}
					.select-selected {
						color: $ocean-deep;
						font-family: $font-family_2;
						padding: 16px;
						font-size: $font-size-16;
						border: 1px solid $deep-ocean-semi-translucent;
						line-height: $leading--5;
						background: $pure-white;
						letter-spacing: -0.4px;
						margin: 0;
						border-radius: 8px;
						color: $ocean-deep;
						font-family: $font-family_2;
						padding: 16px;
						font-size: $font-size-16;
						border: 1px solid $deep-ocean-semi-translucent;
						line-height: $leading--5;
						background: $pure-white;
						letter-spacing: -0.4px;
						margin: 0;
						border-radius: 8px;
						&:after {
							position: absolute;
							content: "";
							top: 27px;
							right: 20px;
							width: 0;
							height: 0;
							border: 6px solid transparent;
							border-color: $border-color_1;
						}
					}
					.select-selected.select-arrow-active {
						&:after {
							border-color: $border-color_2;
							top: 22px;
						}
					}
					.select-items {
						div {
							color: $dark-ocean-blue;
							padding: 15px 0px;
							border: 1px solid transparent;
							border-color: $border-color_3;
							cursor: pointer;
							user-select: none;
							margin: 0 15px;
							&:hover {
								color: $vibrant-lime-green;
							}
							&:last-child {
								border: none;
							}
						}
						background-color: $pure-white;
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						border-radius: 8px;
						z-index: 99;
						box-shadow: 0px 0px 0px 2px $deep-ocean-semi-translucent;
					}
					.select-hide {
						display: none;
					}
				}
				.gap_btn {
					.submit_btn {
						display: flex;
						max-width: 359px;
						padding: 16px 58px;
						justify-content: center;
						align-items: center;
						gap: 8px;
						border-radius: 100px;
						border: none;
						background: $deep-ocean-blue;
						color: $vibrant-lime-green;
						font-family: $font-family_3;
						font-size: $font-size-16;
					}
				}
				.form-check-label {
					color: $deep-ocean-blue;
				}
				.alert_msg {
					border: 1px solid $darkGreen;
					border-radius: 8px;
					padding: 12px 10px;
					p {
						color: $deep-ocean-blue;
						font-family: $font-family_2;
						font-size: $font-size-14;
						line-height: $leading--5;
					}
				}
			}
		}
		.accordion_div {
			max-width: 810px;
			width: 100%;
			.accordion {
				cursor: pointer;
				width: 100%;
				text-align: left;
				outline: none;
				transition: 0.4s;
				padding: 24px;
				border-radius: 24px;
				border: 1px solid rgba(13, 61, 86, 0.08);
				background: $pure-white;
				color: $deep-ocean-blue;
				font-family: $font-family_2;
				font-size: $font-size-28;
				line-height: $leading--29;
				letter-spacing: -0.84px;
				text-transform: capitalize;
				&:after {
					content: '\002B';
					color: $dark-gray;
					font-weight: $weight--bold;
					float: right;
					margin-left: 5px;
				}
			}
			.active {
				border-radius: 24px 24px 0 0;
				border-bottom: none;
				&:after {
					content: "\2212";
				}
			}
			.panel {
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.2s ease-out;
				.panel_inner {
					padding: 0 18px;
					background-color: $color-white;
					border-radius: 0 0 24px 24px;
					border-top: none !important;
					border: 1px solid $deep-ocean-blue-light-fade;
					li {
						margin-bottom: 15px;
					}
				}
				a {
					font-size: $font-size-20;
					line-height: $leading--12;
					font-family: $font-family_6;
				}
			}
		}
		#drop-zone {
			display: flex;
			padding: 60px 10px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-self: stretch;
			border-radius: 8px;
			border: 1px dashed $deep-ocean-semi-translucent;
			img {
				height: 100%;
				max-width: 32px;
				display: none;
			}
			.upload_img {
				display: contents;
				img {
					display: block;
					height: 30px;
				}
				p {
					font-size: $font-size-18;
					margin-bottom: 0;
					color: $deep-ocean-blue;
					font-family: $font-family_4;
					font-size: $font-size-12;
					margin-bottom: 0;
					color: $deep-ocean-blue;
					font-family: $font-family_4;
					span {
						color: $vibrant-lime-green;
					}
				}
			}
		}
		#drop-zone-dup {
			display: flex;
			padding: 60px 10px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-self: stretch;
			border-radius: 8px;
			border: 1px dashed $deep-ocean-semi-translucent;
			img {
				height: 100%;
				max-width: 32px;
				display: none;
			}
			.upload_img {
				display: contents;
				img {
					display: block;
					height: 30px;
				}
				p {
					font-size: $font-size-18;
					margin-bottom: 0;
					color: $deep-ocean-blue;
					font-family: $font-family_4;
					font-size: $font-size-12;
					margin-bottom: 0;
					color: $deep-ocean-blue;
					font-family: $font-family_4;
					span {
						color: $vibrant-lime-green;
					}
				}
			}
		}
	}
}
.select-selected {
	color: $dark-ocean-blue;
	padding: 15px 0px;
	border: 1px solid transparent;
	border-color: $border-color_3;
	cursor: pointer;
	user-select: none;
	margin: 0 15px;
	color: $dark-ocean-blue;
	padding: 4px 0px;
	border: 1px solid transparent;
	border-color: $border-color_3;
	cursor: pointer;
	user-select: none;
	margin: 0 15px;
	font-size: $font-size-12;
}
.main_search_page {
	.search {
		.search_body {
			.select-items {
				div {
					color: $dark-ocean-blue;
					padding: 4px 0px;
					border: 1px solid transparent;
					border-color: $border-color_3;
					cursor: pointer;
					user-select: none;
					margin: 0 15px;
					font-size: $font-size-12;
				}
			}
		}
	}
}
.same-as-selected {
	color: $vibrant-lime-green;
}
@import '../../breakpoints/application-bp/application-bp';