@import '../../abstracts/fonts';
@import '../../abstracts/typography';
@import '../../abstracts/colors';

.viewAll {
	display: none;
}
.viewAllBenfits {
	cursor: pointer;
	position: relative;
	color: $sunset-yellow;
}
.SeeLessBenfits {
	cursor: pointer;
	position: relative;
	color: $sunset-yellow;
}
.paragraph-invest {
	font-family: $font-family_7;
	font-size: $font-size-16;
	font-weight: $weight--400;
	line-height: $leading--5;
	letter-spacing: -0.01em;
	text-align: left;
	color: $black;
	position: relative;
	.linear_gradient {
		position: absolute;
		height: 78px;
		bottom: 0px;
		width: 100%;
        background: linear-gradient(360deg, $color-white 0%, $transparent-white-2 150%);
		display: flex;
		justify-content: start;
		align-items: end;
	}
}
