@import '../../abstracts/fonts';
@import '../../abstracts/typography';
@media (max-width: 1399px) {
	.bg_video {
		.my_slider_video {
			.slick-prev {
				left: 0% !important;
				top: 45.8% !important;
			}
			.slick-next {
				right: 3% !important;
				top: 45.8% !important;
			}
		}
	}
	.thumbnil_img {
		max-width: 875px;
		margin: auto;
		img {
			width: 100%;
		}
	}
}
@media (max-width: 1199px) {
	.bg_video {
		.my_slider_video {
			.slick-prev {
				left: 3% !important;
				top: 48.8% !important;
			}
			.slick-next {
				right: 7% !important;
				top: 48.8% !important;
			}
		}
	}
	.thumbnil_img {
		max-width: 725px;
	}
}
@media (max-width: 991px) {
	.play_button {
		img {
			padding: 13px !important;
		}
	}
	.main_video_page {
		.video_section {
			.videos_container {
				.companies_logo_cards {
					h5 {
						font-size: $font-size-22 !important;
						line-height: $leading--12 !important;
					}
					.logo_button {
						padding: 16px !important;
						gap: 6 !important;
						font-size: $font-size-14 !important;
					}
				}
				.refine_search_card {
					.card-header {
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}
	.main_search_page {
		.search {
			.refine_search_card {
				.card-header {
					margin-bottom: 0 !important;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.videos_banner_section {
		padding-top: 40px !important;
		h1 {
			font-size: $font-size-34 !important;
			line-height: $leading--12 !important;
		}
		p {
			font-size: $font-size-14 !important;
			line-height: $leading--10 !important;
		}
		.button_flex {
			.button_view {
				padding: 12px 16px !important;
				font-size: $font-size-13 !important;
			}
			.button_view_bg {
				padding: 12px 16px !important;
				font-size: $font-size-13 !important;
			}
			padding-top: 0px !important;
			display: block !important;
		}
	}
	.bg_video {
		.my_slider_video {
			.slick-prev {
				&:before {
					display: none !important;
				}
			}
			.slick-next {
				&:before {
					display: none !important;
				}
			}
		}
	}
	.thumbnil {
		.play_button {
			top: 32% !important;
		}
	}
	.main_video_page {
		.video_section {
			.videos_container {
				.refine_search_card {
					.card-header {
						padding: 4px 4px 4px 20px !important;
						align-items: center;
						h3 {
							font-size: $font-size-14 !important;
							font-family: $font-family_4 /*h*/ !important;
						}
					}
				}
			}
		}
	}
	.main_search_page {
		.search {
			.refine_search_card {
				.card-header {
					padding: 4px 4px 4px 20px !important;
					align-items: center;
					h3 {
						font-size: $font-size-14 !important;
						font-family: $font-family_4 /*h*/ !important;
					}
				}
			}
		}
	}
	.main_company_page {
		.companies_logos {
			.companies_logos_container {
				.refine_search_card {
					.card-header {
						padding: 4px 4px 4px 20px !important;
						align-items: center;
						h3 {
							font-size: $font-size-14 !important;
							font-family: $font-family_4 /*h*/ !important;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 430px) {
	.videos_banner_section {
		.button_flex {
			padding-left: 20px !important;
			padding-right: 20px !important;
			display: inline-grid !important;
			width: 100% !important;
			justify-content: revert !important;
			gap: 8px;
			.button_view_bg {
				display: flex !important;
				margin-bottom: 0px !important;
				width: 100% !important;
				gap: 10px !important;
			}
			.button_view {
				display: flex !important;
				margin-bottom: 0px !important;
				width: 100% !important;
				gap: 10px !important;
				img {
					height: 18px;
					width: 18px;
				}
			}
		}
	}
}