@import '../../abstracts/colors';
@import '../../abstracts/fonts';
@import '../../abstracts/typography';
.popular_employers {
	padding-top: 70px;
	padding-bottom: 70px;
	.popular_employers_container {
		h1 {
			color: $deep-ocean-blue;
			text-align: center;
			font-family: $font-family_1;
			font-size: $font-size-56;
			line-height: $leading--7;
			letter-spacing: -2.24px;
		}
		.img_block {
			img {
				width: 100%;
				border-radius: 10px;
				margin-bottom: 15px;
			}
		}
		.card {
			border-radius: 10px;
			transition: all ease-in-out 0.2s;
			z-index: 99;
			.card-body {
				padding: 24px;
			}
			&:hover {
				transform: translateY(-10px);
			}
			h5 {
				font-size: $font-size-24;
				font-family: $font-family_1;
				color: $deep-ocean-blue;
				line-height: $leading--4;
				letter-spacing: -0.96px;
			}
			p {
				font-size: $font-size-17;
				line-height: $leading--27;
				font-family: $font-family_2;
				color: $deep-ocean-blue;
			}
		}
		.dual_button {
			border: 1px solid $deep-ocean-morning;
			display: inline-flex;
			align-items: center;
			padding: 16px 32px 16px 32px;
			font-size: $font-size-16;
			border-radius: 100px;
			font-family: $font-family_3;
			transition: 0.4s;
			cursor: pointer;
			&:hover {
				background: $vibrant-lime-green;
				color: $dark-ocean-blue;
			}
		}
	}
}

@import '../../breakpoints/home/popular_employers\ -bp';