@import '../../abstracts/colors';
@import '../../abstracts/fonts';
@import '../../abstracts/typography';

.select_information {
	padding-top: 70px;
	padding-bottom: 70px;
	overflow: unset;
	.select_information_container {
		padding-top: 80px;
		padding-bottom: 80px;
		background: #0D3D56;
		border-radius: 24px;
		position: relative;
		.select_information_heading_row {
			h2 {
				color: $pure-white;
				text-align: center;
				font-family: $font-family_4;
				font-size: $font-size-48;
				line-height: $leading--26;
				letter-spacing: -1.44px;
				margin-bottom: 32px;
				position: relative;
			}
		}
		.select_information_card {
			padding: 41px 40px;
			border-radius: 24px;
			border: 1px solid rgba(255, 255, 255, 0.12);
			background: rgba(255, 255, 255, 0.08);
			backdrop-filter: blur(8px);
			.accordion-button {
				font-family: $font-family_6;
				border: 1px solid rgba(13, 61, 86, 0.16);
				color: $ocean-deep;
				&:focus {
					border: #8AD43D 2px solid;
					box-shadow: none;
				}
				&:not(.collapsed) {
					font-family: $font-family_3;
					color: $deep-ocean-blue;
					background-color: $pure-white;
				}
			}
			.show_all {
				display: contents;
				background: transparent;
				.show_all_button {
					width: 100%;
					background: #8AD43D;
					height: 58px;
					border: #8AD43D;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 16px 32px;
					color: $dark-ocean-blue;
					font-size: $font-size-16;
					border-radius: 50px;
					transition: 0.4s;
					font-family: $font-family_3;
					&:hover {
						background: #fff;
						border: #0D3D56 1px solid;
						color: $deep-ocean-blue;
					}
				}
			}
			.card-body {
				.custom-select {
					position: relative;
					width: 100%;
					select {
						display: none;
						&:focus {
							border: #8AD43D 2px solid;
							box-shadow: none;
							font-family: $font-family_3;
							color: $deep-ocean-blue;
							background: #fff;
						}
					}
					.select-arrow-active {
						border: 1px solid #8AD43D;
					}
				}
				.select-selected {
					color: $ocean-deep;
					font-family: $font-family_6;
					padding: 16px;
					font-size: $font-size-16;
					border: 1px solid rgba(13, 61, 86, 0.16);
					line-height: $leading--5;
					background: #fff;
					letter-spacing: -0.4px;
					margin: 0;
					border-radius: 8px;
					&:after {
						position: absolute;
						content: "";
						top: 27px;
						right: 20px;
						width: 0;
						height: 0;
						border: 6px solid transparent;
						border-color: $border-color_1;
					}
				}
				.select-selected.select-arrow-active {
					&:after {
						border-color: $border-color_2;
						top: 22px;
					}
				}
				.select-items {
					div {
						color: $dark-ocean-blue;
						padding: 15px 0px;
						border: 1px solid transparent;
						border-color: $border-color_3;
						cursor: pointer;
						user-select: none;
						margin: 0 15px;
						&:hover {
							color: $vibrant-lime-green;
						}
						&:last-child {
							border: none;
						}
					}
					background-color: $pure-white;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					border-radius: 8px;
					z-index: 99;
					box-shadow: 0px 0px 0px 2px rgba(13, 61, 86, 0.16);
				}
				.select-hide {
					display: none;
				}
			}
			.accordion-body {
				ul {
					li {
						color: $deep-ocean-blue;
						font-family: $font-family_2;
						padding: 18px 25px;
						font-size: $font-size-20;
						line-height: $leading--5;
						letter-spacing: -0.4px;
					}
				}
			}
		}
	}
	.first_img_bg {
		position: absolute;
		top: 0;
		left: 0;
		img {
			border-radius: 24px 0;
			width: 100%;
		}
	}
	.second_img_bg {
		position: absolute;
		top: 0;
		left: 0;
		img {
			width: 100%;
			border-radius: 24px;
		}
	}
	.third_img_bg {
		position: absolute;
		bottom: 0;
		left: 0;
		img {
			width: 100%;
		}
	}
	.forth_img_bg {
		position: absolute;
		bottom: 0;
		right: 0;
		img {
			border-radius: 24px;
		}
	}
	.fifth_img_bg {
		position: absolute;
		bottom: 0;
		right: 0;
		img {
			border-radius: 24px;
			width: 100%;
		}
	}
}
.select-selected {
	color: $dark-ocean-blue;
	padding: 15px 0px;
	border: 1px solid transparent;
	border-color: $border-color_3;
	cursor: pointer;
	user-select: none;
	margin: 0 15px;
}
@import '../../breakpoints/home/select_information-bp';